<div class="backgroundcolor">
    <img src="../../../../assets/images/home.svg" class="homepage" routerLink="/homePage">

    <div class="header-container">
        <h1>מחזור המיון הקרוב</h1>
        <h2 style="font-weight: 300;">ינואר 2023</h2>
    </div>

    <div class="container">
        <div class="course-container">
            <h2>אלקטרוניקה</h2> 
             <ng-container *ngFor="let course of listAvionics"> 
                <h4 (click)="itemClicked(course)">{{course.courseNum}}- {{course.courseName}}</h4>
             </ng-container>
        </div>

        <div class="course-container">
            <h2>אחזקה מתכת/חשמל</h2>
            <ng-container *ngFor="let course of listMaintenace">
                <h4 (click)="itemClicked(course)">{{course.courseNum}}- {{course.courseName}}</h4>
            </ng-container>
            <h4></h4>
        </div>
    </div>

    
</div>
