@import "../../../pages/header/fonts.scss";

.backgroundcolor {
  position: absolute;
  background: #c0cADB;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;

  &.backgroundcolor__padding {
    padding-bottom: 215px;
  }
}

.header {
  font-size: 32rem;
  font-weight: 900;
  color: #2E365B;
  display: block;
  margin-top: 20px;
  margin-right: 42px;

  span {
    vertical-align: top;
    margin-right: 5px;
    line-height: 65%;
  }
}

.didnt-save {
  font-weight: 500;
  font-size: 35rem;
  text-align: center;
  color: #61687F;
  margin: 15px;
  margin-top: 120px;

  img {
    position: relative;
    height: 40px;
    right: 50%;
    transform: translateX(50%);
    display: block;
    margin-top: 5px;
  }
}

.output-container {
  position: relative;
  width: 90%;
  max-width: 440px;
  right: 50%;
  transform: translateX(50%);
  font-size: 18rem;
  color: #2E365B;
  background: #ffffff;
  margin-top: 15px;
  padding: 10rem;
  border-radius: 20rem;
  filter: drop-shadow(#00000045 3px 3px 10px);

  .main-title1 {
    font-weight: 800;
  }

  .main-title2 {
    font-weight: 300;
  }
}

.title-container {
  width: 90%;
  display: block;
  margin-right: 10px;
  margin-left: 5px;
}

.courses-grid {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.text-container {
  width: 100%;
  font-weight: 300;
  font-size: 14rem;
  text-align: center;
  color: #2E365B;
  justify-content: space-around;
  display: flex;
  margin: 8px auto 5px;
  line-height: 113%;

  img {
    height: 35px;
    width: 3px;
    margin: 0 5px;
  }

  span {
    width: 26vw;
  }
}

.remove-favorite {
  position: absolute;
  height: 18px;
  top: 5px;
  left: 5px;
  padding: 8px;
}

.restart {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 0;
  width: 0;
  top: 0;
}

.favorite {
  position: absolute;
  width: 27px;
  top: 20px;
  margin-right: 15px;
}

.note {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 500;
  font-size: 21rem;
  text-align: center;
  color: #61687F;
  display: block;
  margin-bottom: 120px;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.homepage {
  position: absolute;
  width: 40px;
  top: 20px;
  left: 15px;
}

@media (max-width: 390px) {
  .header {
    font-size: 9vw;
    margin-right: 39px;
  }

  .favorite {
    width: 20px;
  }

  .homepage {
    width: 33px;
  }

  .output-container {
    font-size: 5vw;
  }

  .text-container {
    font-size: 4vw;
  }

  .didnt-save {
    font-size: 22rem;

    img {
      height: 25px;
    }
  }
}

@media (min-width: 1000px) {
  .courses-grid {
    grid-template-columns: repeat(auto-fill, 470rem);
    gap: 10rem;
  }

  .note {
    text-align: right;
    width: fit-content;
    margin-right: 35px;
  }
}



// display: inline-flex;
// height: 80px;

// .course-img {
//   aspect-ratio: 1/1;
//   border-radius: 10rem;
// }

//   &::-webkit-scrollbar {
//     width: 25px;
//   }

//   &::-webkit-scrollbar-thumb {
//     background-color: #9da1a8;
//     border-radius: 20rem;
//     border: 10px transparent solid;
//     background-clip: padding-box;
//   }