@import "../../../pages/header/fonts.scss";

.backgroundcolor {
  position: absolute;
  background: #c0cADB;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;

  &.backgroundcolor__padding {
    padding-bottom: 215px;
  }
}

.header-container {
  padding: 7px 43px 11px 60px;
  box-sizing: border-box;
}

h4 {
  font-weight: 800;

  span {
    font-weight: 300;
  }
}

h5 {
  text-align: center;
  margin: 0 5px;
  flex-grow: 1;
}

hr {
  width: 1px;
  background-color: #2E365B;
  margin: 0px;
  border: none;
}

.didnt-save {
  margin: 120px 15px 0;

  h1 {
    font-weight: 500;
    text-align: center;
    color: #61687F;
  }

  img {
    width: 26px;
    display: block;
    margin: 5px auto 0;
  }
}

.output-container {
  position: relative;
  width: 85%;
  max-width: 440px;
  background: #ffffff;
  margin: 13px auto 0;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 20rem;
  filter: drop-shadow(#00000045 3px 3px 10px);

  img {
    position: absolute;
    height: 18px;
    top: 5px;
    left: 3px;
    padding: 8px;
  }
}

.delete-fav {
  position: absolute;
  height: 18px;
  top: 9px;
  left: 5px;
  padding: 8px;
}

.title-container {
  width: 100%;
  padding: 0 0 4px 16px;
  box-sizing: border-box;
}

.text-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.courses-grid {
  display: grid;
  flex-wrap: wrap;
  margin-top: 28px;
}

.favorite {
  position: absolute;
  width: 26.5px;
  top: 20px;
  margin-right: 15px;
}

.note {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 500;
  text-align: center;
  color: #61687F;
  margin-bottom: 120px;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.homepage {
  position: absolute;
  width: 40px;
  top: 20px;
  left: 15px;
}

@media (max-width: 330px) {
  .header-container {
    padding: 9px 41px 11px 50px;
    box-sizing: border-box;
  }

  .favorite {
    width: 24px;
  }

  .homepage {
    width: 36px;
  }

  .didnt-save {
    img {
      width: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .courses-grid {
    grid-template-columns: repeat(auto-fill, 490rem);
    grid-gap: 17px;
    justify-content: space-evenly;
    column-gap: 45px;
  }

  .note {
    text-align: right;
    width: fit-content;
    margin-right: 35px;
  }

  .header-container {
    padding: 5px 51px 10px 60px;
  }

  .didnt-save {
    img {
      width: 30px;
    }
  }
}



// display: inline-flex;
// height: 80px;

// .course-img {
//   aspect-ratio: 1/1;
//   border-radius: 10rem;
// }

//   &::-webkit-scrollbar {
//     width: 25px;
//   }

//   &::-webkit-scrollbar-thumb {
//     background-color: #9da1a8;
//     border-radius: 20rem;
//     border: 10px transparent solid;
//     background-clip: padding-box;
//   }


// .header {
//   font-size: 32rem;
//   font-weight: 900;
//   color: #2E365B;
//   display: block;
//   margin-top: 20px;
//   margin-right: 42px;

//   span {
//     vertical-align: top;
//     margin-right: 5px;
//     line-height: 65%;
//   }
// }


// .text-container {
//   width: 100%;
//   font-weight: 300;
//   font-size: 14rem;
//   text-align: center;
//   color: #2E365B;
//   justify-content: space-around;
//   display: flex;
//   margin: 8px auto 5px;
//   line-height: 113%;

//   img {
//     height: 35px;
//     width: 3px;
//     margin: 0 5px;
//   }

//   span {
//     width: 26vw;
//   }
// }




// .restart {
//   position: absolute;
//   background-size: cover;
//   background-repeat: no-repeat;
//   height: 0;
//   width: 0;
//   top: 0;
// }