<img src="../../../../assets/images/favorite.svg" style="height: 0; width: 0;">
<img src="../../../../assets/images/home.svg" style="height: 0; width: 0;">

<div class="backgroundcolor" [class.backgroundcolor__padding]="items.length != 0">

    <div class="header-container">
        <h1>המועדפים שלי</h1>
    </div>

    <div *ngIf="items.length === 0" class="didnt-save"> 
        <h1>עדיין לא שמרת כלום במועדפים כדי להוסיף מקצוע למועדפים לחץ על האייקון</h1>
        <img src="../../../../assets/images/notFavorite.svg">
    </div>

    <div class="courses-grid" *ngIf="items.length > 0">
        <div class="output-container" *ngFor="let item of items; let i = index" (click)="router(i)" routerLink={{routing}}>

            <img src="../../../../assets/images/remove.svg" (click)="removeFromeFavorites(item.CourseName)" routerLink="/favorite">
            <!-- <img src="../../../../assets/images/remove.svg" class="delete" (click)="removeFromeFavorites(item.CourseName)" routerLink="/favorite"> -->
            <div class="title-container">
                <h4 class="main-title1"> קורס {{item.CourseNumber}}<span> - {{item.CourseName}} </span></h4>
            </div>


            <div class="text-container">
                <h5> משך ההכשרה<br>{{item.CourseTime}}</h5><hr>
                <h5> מיקום ההכשרה<br>בח"א 21 - טכני</h5><hr>
                <h5>קרב א' נשק מונחה</h5>
            </div>
        </div>
    </div>

    <img src="../../../../assets/images/favorite.svg" class="favorite">
    <img src="../../../../assets/images/home.svg" class="homepage" routerLink="/homePage">
    <h2 *ngIf="items.length > 0" class="note" routerLink="/courseSelection">סיימתי! מעבר למילוי שאלון העדפות</h2>
    <!-- <span *ngIf="items.length > 0" class="note" routerLink="/courseSelection">סיימתי! מעבר למילוי שאלון העדפות</span> -->
</div>



<!-- <img src="../../../../assets/images/search-line.svg" style="width: 2px;"> -->

<!-- <div class="backgroundcolor">
    
    
    <div class="title">
        <img src="../../../../assets/images/favorite2.svg" class="favorite-img">
        <span>המועדפים שלי</span>
        <a routerLink="/homePage"><img src="../../../../assets/images/home.svg" class="home-page"></a>
    </div>
    
    <div *ngIf="favorites.length === 0" class="dont-save"> 
        עדיין לא שמרת כלום במועדפים כדי להוסיף מקצוע למועדפים לחץ על האייקון
        <img src="../../../../assets/images/favorite3.svg" class="course-img">
    </div>
    
    <div *ngIf="favorites.length > 0">
    
        <div class="favorites-output" *ngFor="let item of items; let i = index">
        <span routerLink="/course/{{item.CourseNumber}}">
    
        <div class="title-container">
        <span class="main-title1"> קורס {{item.CourseNumber}}</span>
        <span class="main-title2"> - {{item.CourseName}} </span>
        
        <div class="text-container">
            <span> משך ההכשרה <span class="new-line">{{item.CourseTime}}</span>
            </span>
            <img src="../../../../assets/images/search-line.svg" class="course-img">
            <span>מיקום ההכשרה בח"א 21 - טכני</span>
            <img src="../../../../assets/images/search-line.svg" class="course-img">
            <span>קרב א' נשק מונחה</span>
            </div>
    </div>
    </span>
    <img src="../../../../assets/images/remove.svg" class="remove-favorite" (click)="removeFromeFavorites(i)" routerLink="/favorite">
    </div>
    </div>
    </div> -->


    <!-- <img src="../../../../assets/images/home.svg" width="10%" height="10%" class="home-page"> -->
<!-- <img src="../../../../assets/images/greybackground.jpg" class="course-img"> -->
    <!-- <img src="../../../../assets/images/remove.svg" class="remove-favorite" (click)="removeFromeFavorites(i)"> -->

            
            <!--             
                        <div class="text-container">
                            <h5> משך ההכשרה<br>{{item.CourseTime}}</h5>
                            <img src="../../../../assets/images/search-line.svg">
                            <h5> מיקום ההכשרה<br>בח"א 21 - טכני</h5>
                            <img src="../../../../assets/images/search-line.svg">
                            <h5>קרב א' נשק מונחה</h5>
                        </div> -->