.backgroundcolor {
  position: absolute;
  background: #c0cADB;
  width: 100vw;
  height: fit-content;
}



// .course-output{
//     font-size: 36rem;
//     background: #fafafa;
//     border-radius: 20rem;
//     padding: 15rem;
//     position: absolute;
//     top: 70%;
//     width: 80%;
//     right: 50%;
//     transform: translateX(50%); 
//     overflow-y: auto;
//     max-height: 20%;

//     &::-webkit-scrollbar-thumb{
//         background-color: #9da1a8;
//         border-radius: 20rem;
//         border: 10px transparent solid;
//         background-clip: padding-box;
//     }
// }


// &::-webkit-scrollbar{
// width: 25px;
// }
