<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="backgroundcolor">
    
    <app-top-bar #child></app-top-bar>
    
    <div class="header-container">
        <h1>דף ניהול</h1>
        <h2 *ngIf="isManager()">{{child.selectedPage.title}}</h2>
    </div> 

    <div class="container" *ngIf="isManager()">
        <ng-container *ngIf="page === 'home'">
            <div class="blob" *ngFor="let sort of sorts" (click)="sort.isExpand = !sort.isExpand">
                <span class="title" [class.title__expand]="sort.isExpand">מחזור {{sort.name}}</span>
                <img src="../../../../assets/images/arrowReadMore.png" class="expand-icon" *ngIf="!sort.isExpand">
                <img src="../../../../assets/images/arrowReadLess.png" class="expand-icon" *ngIf="sort.isExpand">

                <ng-container *ngIf="sort.isExpand"> 
                    <h4>עריכה</h4>
                    <h4>הורדת שאלון העדפות</h4>
                    <h4 (click)="deleteCycle(sort.name)">מחיקה</h4>
                    <h4>העבר לארכיון</h4>
                </ng-container>
            </div>

            <div class="blob" style="background-color: rgb(255, 255, 255); padding: 10px;" (click)="page = 'add-cycle'">
                <img src="../../../../assets/images/addIcon.png" class="icon2">
            </div>
        </ng-container>

    <!-- ------------------------------------- add new cycle ------------------------------------- -->
    <form [formGroup]="newCycle" *ngIf="page === 'add-cycle'" [formGroup]="newCycle" (ngSubmit)="createNewSycle()">
        <h4>שם מחזור המיון</h4>
        <input class="input-style" style="margin-bottom: 7px; border-radius: 15px;" [formControlName]="'name'" placeholder="לדוגמא: דצמבר 2022" [class.input-style__focus]="true"> 
        
        <h4 style="font-weight: 400;">הוספת קורסים</h4>
        
        <input class="input-style" [formControl]="inputControl" placeholder="הקלד מספר/ שם מקצוע" (blur)="onBlur()" (focus)="onFocus()" autocomplete="off">
        <div class="list-container">
            <app-bislat-list [indexOutput]="indexOutput$ | async" [showList]="showList" page="managementPage" (selectedItemEmitter)="addNewItem($event)"></app-bislat-list>
        </div>

        <div class="blob" *ngIf="selectedAvionicsItems.length || selectedMaintenaceItems.length">
            <h4 *ngIf="selectedAvionicsItems.length">
                אוויוניקה
                <div *ngFor="let course of selectedAvionicsItems">
                    <img src="../../../../assets/images/remove.svg" (click)="deleteItem(course, 'Avionics')">
                    <span>{{course.CourseNumber}}- {{course.CourseName}}</span>
                </div>
            </h4>
            <h4 *ngIf="selectedMaintenaceItems.length">
                אחזקה מתכת/חשמל
                <div *ngFor="let course of selectedMaintenaceItems">
                    <img src="../../../../assets/images/remove.svg" (click)="deleteItem(course, 'Maintenace')">
                    <span>{{course.CourseNumber}}- {{course.CourseName}}</span>
                </div>
            </h4>
        </div>

        <input type="checkbox" style=" margin-top: 15px;" formControlName="selectionForm">
        <label for="vehicle1" style="font-weight: 400;"> יצירת שאלון העדפות</label><br>

        <h4 *ngIf="(!newCycle.valid || (selectedAvionicsItems.length + selectedMaintenaceItems.length < 3)) && buttonClicked" style="color: red;">* יש למלא שם מחזור מיון ולבחור לפחות קורס אחד</h4>
        <div class="buton-container">
            <button type="submit" (click)="buttonClicked = true">סיום</button>
            <button (click)="page='home'">ביטול</button>
       </div>
        
        <app-preview *ngIf="previewPopUp"(popUp)="previewPopUp = $event" [information]="information" [item]="item"></app-preview>
    </form>
</div>
   







    


    <div class="container" *ngIf="isManager()">

        <div *ngFor="let item of child.selectedPage.items">
            <h3>{{item.title}}</h3>
            
            <input *ngIf="item.HTMLelement === 'input'" class="cycle-input" [placeholder]="item.inputPlaceholder">
    
            <select *ngIf="item.HTMLelement === 'select'" class="cycle-input">
                <option value="מחזור דצמבר 2021">מחזור דצמבר 2021</option>
                <option value="מחזור ינואר 2022">מחזור ינואר 2022</option>
            </select>
        </div>

        <ng-container *ngIf="child.selectedPage.courses">
            <h3>הוספת מקצועות</h3>

            <div class="level-container">
                <h4>מערך החשמל</h4>
                <i class="fa fa-angle-down" [class.fa__course]="true"></i>
            </div>
            <div class="level-container">
                <h4>מערך החשמל</h4>
                <i class="fa fa-angle-down" [class.fa__course]="true"></i>
            </div>

        <div class="level-container">
            <h4>מערך החשמל</h4>
            <i class="fa fa-angle-up" [class.fa__course]="true"></i>
            
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> טכנאי מערכות חשמל פתן/ שרף</label><br>

        <input type="checkbox" id="vehicle" name="vehicle" value="Bike">
        <label for="vehicle1"> טכנאי מערכות חשמל</label><br>
        </div>
        </ng-container>

        <!-- <input type="checkbox" id="hicle" name="vehicle" value="Bike" style="margin-top: 15px;" checked="true">
        <label for="vehicle1" style="font-weight: 500;"> יצירת שאלון העדפות</label><br> -->
    </div>

    <app-block-form *ngIf="!isManager()"></app-block-form>

</div>
    


