<div class="input-favorite-container">
    <div class="input-list-container">
        <app-bislat-input [inputControl]="inputControl" (showListEmitter)="handleShowList($event)"
        (clearEmitter)="handleClear()"></app-bislat-input>
        <app-bislat-list [indexOutput]="indexOutput$ | async" [showList]="showList"
            (selectedItemEmitter)="handleSelected($event)"></app-bislat-list>
    </div>
    <a routerLink="/favorite"><img src="../../../assets/images/favorite1.svg" class="favorite-button"></a>
    <!-- (click)="setValueInPlaceholder()" -->
</div>
        
<!-- <app-bislat-output [item]="resultItem$ | async"></app-bislat-output> -->

