<div class="input-favorite-container" [class.input-favorite-container__three-images-position]="threeImagesPosition()">
    <div class="input-list-container">
        <app-bislat-input [inputControl]="inputControl" (showListEmitter)="handleShowList($event)"
        (clearEmitter)="handleClear()"></app-bislat-input>
        <app-bislat-list [indexOutput]="indexOutput$ | async" [showList]="showList"
            (selectedItemEmitter)="handleSelected($event)"></app-bislat-list>
    </div>
    <a routerLink="/favorite"><img src="../../../assets/images/favorite1.svg" class="favorite-button"></a>
</div>

<div class="description">
    <ng-container *ngFor="let paragraph of openingParagraphs; index as i">
        <p *ngIf="i < readMoreButton[1]">{{paragraph}}</p>
    </ng-container>
    
    <img src="../../../assets/images/{{readMoreButton[0]}}.svg" (click)="readMoreButtonClick()" style="height: 17px;">
    <!-- <a>לרשימת המקצועות למחזור מיון ספטמבר 2022</a> -->
    
    <div class="youtube-container" [class.youtube-container__layer]="showList">
        <div class="container">
            <iframe class="youtube-video" src="https://www.youtube.com/embed/rDNDHfgwzlg"></iframe>
            <iframe class="youtube-video" src="https://www.youtube.com/embed/4z4_oJ0FxV0"></iframe>
              <a href="" (click)="routingPage()">לסרטונים נוספים</a>           
        </div>
    </div>
</div>


<!-- <app-bislat-output [item]="resultItem$ | async"></app-bislat-output> -->


        <!-- 
        
            <p>המערך הטכני הינו המערך הגדול בחיל. משרתים בו גברים ונשים במגוון עצום של מקצועות ותחומי עיסוק.
                אנשי המערך אחראים לתפעול השוטף של חיל האוויר, לאחזקת כלי הטיס, מערכות הנשק והציוד, לתחומי
                הלוגיסטיקה, ההנדסה, הפיתוח ולבנין כוחו של החיל.        
            </p>      
            
            
            <p>
                אנשי המערך - בטייסות הטיסה, בסוללות ההגנ"א, ביב"אות, בטייסות התחזוקה, ביחידות הבינוי, ביחידות
                הלוגיסטיות, במטה החיל ובדרגי ה- ד' - הם מקור עוצמתנו. אנשים מסורים ומקצועיים שפועלים
                למען חיל האוויר.
            </p> -->