.fa {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 35px;
    color: #2E365B;
    padding: 5px;
    z-index: 1000000000;

    &.fa__clicked {
        color: #fff;
    }
}

.bar-container {
    width: 100%;
    height: min-content;
    background-color: #2E365B;
    padding: 45px 11px 15px;
    height: 195px;
    border-radius: 0 0 7px 7px;
    box-sizing: border-box;

    h3 {
        color: #fff;
        cursor: pointer;
        outline: none;
    }

    .mat-list-base {
        height: 100%;
        padding: 0;
    }
}