<img src="../../../../assets/images/map.svg" style="height: 0; width: 0;">
<img src="../../../../assets/images/favorite.svg" style="height: 0; width: 0;">
<img src="../../../../assets/images/notFavorite.svg" style="height: 0; width: 0;">

<img src="../../../../assets/images/{{favoritePosition}}" class="favorite-icon" (click)="removeOrAddFavorite()">
<img src="../../../../assets/images/home.svg" class="homepage-icon" routerLink="/homePage">

<div class="header-container" *ngIf="item">
    <h1>קורס <span>{{item.CourseNumber}}</span></h1>
    <h2>{{item.CourseName}}</h2>
</div>

<div class="course-grid" *ngIf="item">    
    <div class="course-output">
        <h4>{{item.CourseDescription}}
        <span>משך ההכשרה- {{item.CourseTime}}</span></h4>
    </div>
    
    <object #mapObject type="image/svg+xml" class="map" [class.map__size]="changeMap" data="assets/images/map_tmp7.svg"></object>
    <img #mapAllBases src="../../../../assets/images/map.svg" *ngIf="!changeMap" class="map" [class.map__size]="true">
    
    <h4 class="bases-grid">הבסיסים בהם ניתן לשרת הם- 
        <span *ngFor="let base of item.CourseBases">• {{base}}</span>
    </h4>
    
    <div class="youtube-container">
        <iframe class="youtube-video" [src]="item.YouTubeURL | safe"></iframe>
    </div>
</div>
