<div *ngIf="item" class="main-title">
    <span class="text-font">קורס </span>
    <span class="number-font">{{item.CourseNumber}}</span>
</div>
<div *ngIf="item" class="subheading">{{item.CourseName}}</div>


<div *ngIf="item" class="course-output">
    {{item.CourseDescription1}}
    <span *ngIf="isReadMore"> {{item.CourseDescription2}} </span>
    <img src="../../../../assets/images/readMore.svg" class="read-more-less" (click)="readMoreClicked()" *ngIf="isReadMore === false">
    <img src="../../../../assets/images/readLess.svg" class="read-more-less" (click)="readMoreClicked()" *ngIf="isReadMore === true">
</div>  

<div class="map-container">
<img src="../../../../assets/images/map.svg" class="map">
<span>הבסיסים בהם ניתן לשרת הם - </span>
{{item.CourseBases}}
</div>


<div class="youtube-container">
    <iframe class="youtube-video"
    src="https://www.youtube.com/embed/W7qWa52k-nE">
    </iframe>
</div>

<span *ngIf="isItemFavorite===false"><img src="../../../../assets/images/favorite2.svg" class="favorite" (click)="removeOrAddFavorite()"></span>
<span *ngIf="isItemFavorite===true"><img src="../../../../assets/images/favorite3.svg" class="favorite" (click)="removeOrAddFavorite()"></span>
<a routerLink="/homePage"><img src="../../../../assets/images/home.svg" class="homepage"></a>
<!-- (click)="setValueInPlaceholder()" -->


<!-- <svg src="../../../../assets/images/map.svg" class="map"> -->
    <!-- <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z" class="invisible" /> -->
<!-- </svg> -->
