<div class="backgroundcolor">

  <div class="header-container">
    <h1>שאלון העדפות מיון</h1>
    <img src="../../../../assets/images/home.svg" class="homepage" routerLink="/homePage">
  </div>

  <ng-container *ngFor="let s of selectionPages; let i = index">
    <form [formGroup]="s.formGroup || selectionPage1Form" (ngSubmit)="submitForm(i)">
      <div *ngIf="pageNumber === (i + 1) && !blockForm" class="select-container">

        <ng-container *ngFor="let item of s.items">

          <h4>{{item.title}}</h4>
          <input *ngIf="item.HTMLelement === 'input'" class="input-select" [formControlName] = "item.formControlName" [placeholder]="item.inputPlaceholder" [class.error]="!isValid(item.validName)">
          
          <select *ngIf="item.HTMLelement === 'select'" class="input-select" [formControlName] ="item.formControlName" [class.error]="!isValid(item.validName)">
            <option value="מחזור דצמבר 2021">מחזור דצמבר 2021</option>
            <option value="מחזור ינואר 2022">מחזור ינואר 2022</option>
          </select>
          
          <form *ngIf="item.HTMLelement === 'checkbox'" class="container" data-validate="custom=causeValidator" [class.error]="!causeValidator() && buttonClicked">
              <input type="checkbox" #checkbox1 id="hicle" name="vehicle" value="Bike" (click)="cause(0, checkbox1)" >
              <label for="vehicle1" style="font-weight: 500; font-size: 15px;">{{item.formControlName}}</label><br>

              <input type="checkbox"  #checkbox2 id="hicle" name="vehicle" value="Bike" (click)="cause(1, checkbox2)">
              <label for="vehicle1" style="font-weight: 500; font-size: 15px;"> יצירת שאלון העדפות</label><br>

              <input type="checkbox"  #checkbox3 id="hicle" name="vehicle" value="Bike" (click)="cause(2, checkbox3)">
              <label for="vehicle1" style="font-weight: 500; font-size: 15px;"> יצירת שאלון העדפות</label><br>
            </form>
         
        </ng-container>
        
        <button type="submit">{{s.buttonText}}</button>
        <h4 [class.h4__error-message]="true" *ngIf="!s.formGroup?.valid && buttonClicked === true">* הכנס ערך חוקי</h4>
        <h2>שים לב! ניתן למלא שאלון זה רק פעם אחת</h2>
      </div>
  </form>
  </ng-container>

  <div class="note-container">
    <span *ngIf="pageNumber === 3">הטופס נשלח בהצלחה!</span>
    <span *ngIf="blockForm">כבר מילאת שאלון העדפות, לא ניתן למלא שוב</span>
  </div>
</div>






  <!-- <form [formGroup]="selectionPage1Form" (ngSubmit)="moveNextPage()">
    <div *ngIf="pageNumber === 1 && !blockForm" class="select-container">  
      
      <span class="InputTitle">מחזור המיון</span>
        <select name="cycle" formControlName="cycleInput" [class.error]="!isValid('cycleInput')">
          <option value="מחזור דצמבר 2021">מחזור דצמבר 2021</option>
          <option value="מחזור ינואר 2022">מחזור ינואר 2022</option>
        </select>
        
      <span class="InputTitle">שם פרטי + שם משפחה</span>
      <input formControlName="nameInput" [class.error]="!isValid('nameInput')">
        
      <span class="InputTitle">מספר תעודת זהות</span>
      <input formControlName="idInput" [class.error]="!isValid('idInput')">
        
      <span class="InputTitle">מסגרת מיון</span>
      <input placeholder="הערך חייב להיות מספר" formControlName="sortNumberInput" [class.error]="!isValid('sortNumberInput')">
        
      <button type="submit" (click)="moveNextPage()">המשך</button> 
      <span class="error-message" *ngIf="!selectionPage1Form.valid && buttonClicked === true">* הכנס ערך חוקי</span>
      <span class="note">שים לב! ניתן למלא שאלון זה רק פעם אחת</span>
      <span class="note">{{selectionPages.length}}</span> -->
      <!-- <ng-container *ngFor="let s of selectionPages"><span class="note">hdcsui</span></ng-container> -->
    <!-- </div> -->
  <!-- </form> -->


  <!-- <form [formGroup]="selectionPage2Form" (ngSubmit)="sendForm()">
    <div *ngIf="pageNumber === 2 && !blockForm" class="select-container">
      
      <span class="InputTitle">העדפה ראשונה</span>
      <select name="firstOption" formControlName="firstOption" [class.error]="!isValid('firstOption')">
        <option value="מחזור דצמבר 2021">מחזור דצמבר 2021</option>
        <option value="מחזור ינואר 2022">מחזור ינואר 2022</option>
      </select>
      
      <span class="InputTitle">העדפה שנייה</span>
      <select name="secondOption" formControlName="secondOption" [class.error]="!isValid('secondOption')">
        <option value="מחזורר 2021">מחזור דר 2021</option>
        <option value="מחזור ינואר 2022">מחזור ינואר 2022</option>
      </select>
      
      <span class="InputTitle">העדפה שלישית</span>
      <select name="thirdOption" formControlName="thirdOption" [class.error]="!isValid('thirdOption')">
        <option value="מחזור דצמבר 2021">מחזור דצמבר 2021</option>
        <option value="מחזור ינואר 2022">מחזור ינואר 2022</option>
      </select>
      <button type="submit" (click)="sendForm()">שלח</button>
      <span class="error-message" *ngIf="!selectionPage2Form.valid && buttonClicked === true">* הכנס ערך חוקי</span>
      <span class="note">שים לב! ניתן למלא שאלון זה רק פעם אחת</span>
    </div>
  </form>

  <div *ngIf="pageNumber === 3" class="block-form"> 
    הטופס נשלח בהצלחה!
  </div>

  <div *ngIf="blockForm" class="block-form"> 
    כבר מילאת שאלון העדפות, לא ניתן למלא שוב
  </div>
</div>


<div *ngFor="let s of selectionPages">
  <span class="note">hjcdio</span>
<div> -->







  <!-- <div *ngFor="let control of selectionForm.controls | keyvalue" class="error">
    {{control.key}}
    <span class="InputTitle">שם פרטי + שם משפחה</span>
    <input formControlName="nameInput">
    <span *ngIf="selectionForm.get('nameInput')?.errors?.['required'] && ButtonClicked" class="error">* הכנס ערך</span>
  </div> -->
  
  <!-- [disabled]="!selectionForm.valid" -->
  <!-- <div *ngIf="nextPage === true" class="select-container">
    <span class="InputTitle">העדפה ראשונה</span>
    <select name="cycl" [formControl]="firstOption">
      <option value="מחזור דצמבר 2021">מחזור דצמבר 2021</option>
      <option value="מחזור ינואר 2022">מחזור ינואר 2022</option>
    </select>
    <span class="erorr">{{inputArr[0]}}</span>
    
    <span class="InputTitle">העדפה שנייה</span>
    <select name="cle" [formControl]="secondOption">
      <option value="מחזורר 2021">מחזור דר 2021</option>
      <option value="מחזור ינואר 2022">מחזור ינואר 2022</option>
    </select>
    <span class="erorr">{{inputArr[0]}}</span>
    
    <span class="InputTitle">העדפה שלישית</span>
            <select name="cyle" [formControl]="thirdOption">
              <option value="מחזור דצמבר 2021">מחזור דצמבר 2021</option>
              <option value="מחזור ינואר 2022">מחזור ינואר 2022</option>
            </select>
            <span class="erorr">{{inputArr[0]}}</span>
                
                <!-- לחסום אפשרות בחירה פעמיים באותו מקצוע -->
                <!-- <button>שלח</button>
              </div> --> -->
              
<!-- </div> -->


            <!-- <ng-component *ngIf="item.selectOptions">
              <ng-component *ngFor="let selectItem of item.selectOptions">
                <option value="{{selectItem}}">{{selectItem}}</option>
              </ng-component>
            </ng-component> -->