@import "../../../pages/header/fonts.scss";

.backgroundcolor {
    // position: absolute;
    background: #c0cADB;
    width: 100%;
    min-height: 100%;
}

.header {
    font-weight: 900;
    font-size: 34rem;
    color: #2E365B;
    margin-right: 15px;
}

.note {
    display: block;
    font-weight: 500;
    font-size: 20rem;
    color: #61687F;
    margin-top: 10px;

}

.block-form {
    display: block;
    font-weight: 500;
    font-size: 32rem;
    color: #61687F;
    margin: 15px;
    margin-top: 120px;
    text-align: center;
}

.homepage {
    position: absolute;
    width: 40px;
    top: 15px;
    left: 15px;
}

.select-container {
    width: 100%;
    padding: 15px;
    padding-bottom: 70px;
    box-sizing: border-box;
    margin-top: 20px;

    input,
    select {
        -webkit-appearance: none;
        position: relative;
        height: 40px;
        width: 100%;
        max-width: 555px;
        font-weight: 600;
        font-size: 15rem;
        color: #2E365B;
        padding-right: 7px;
        box-sizing: border-box;
        border-radius: 10px;
        background: #fff;
        border: 2px solid #2E365B;
        filter: drop-shadow(#00000045 3px 3px 10px);

        &:focus {
            outline: none;
        }
    }

    .error {
        box-shadow: inset 0px 0px 6px red;
    }

    .error-message {
        font-weight: 500;
        font-size: 15rem;
        color: red;
        display: block;
    }

    ::placeholder {
        color: rgb(182, 182, 182);
        font-weight: 400;
    }

    .InputTitle {
        font-weight: 600;
        font-size: 15rem;
        color: #2E365B;
        margin-top: 15px;
        display: block;
    }

    button {
        font-weight: 600;
        font-size: 20rem;
        height: 40px;
        width: 100px;
        color: cornsilk;
        background-color: #2E365B;
        display: block;
        filter: drop-shadow(#00000045 3px 3px 10px);
        border-radius: 10px;
        border: none;
        margin-top: 18px;
    }
}

@media (min-width: 1000px) {
    .select-container {
        width: 40%;
        padding: 70px 0;
        margin: auto;

        input,
        select {

            width: 100%;
            max-width: none;
        }
    }

    .header {
        font-size: 34rem;
        margin-right: 0;
        display: block;
        text-align: center;
    }
}

@media (max-width: 390px) {
    .header {
        position: relative;
        top: 6px;
        font-size: 7vw;
    }

    .homepage {
        width: 30px;
    }
}