@import "./app/pages/header/fonts.scss";

html,
body {
    height: 100%;
    font-size: 1px;
    direction: rtl;
    font-family: 'Heebo', sans-serif;
}

body {
    margin: 0;
    background-color: #fff;
}

.button-appearence {
    cursor: pointer;
    transition: .4s ease-in;

    &:hover {
        background: rgba(0, 0, 0, 0.05);
        filter: contrast(.9);
    }
}

input {
    font-family: 'Heebo', sans-serif;
}